extends layout

block moreImports
  script(src="/javascripts/angular/angular.min.js")
  script(src="/javascripts/angular-pusher/angular-pusher.min.js")
  script(src="javascripts/login/mainMenu.js")
  link(rel='stylesheet', href='/javascripts/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/comClub.css')
block content
  div(class="container" ng-app="mainMenuApp", action="enterRoom()")
    div(class="panel panel-default main")
      h1= title
      form(name="enter-room-form", ng-controller="enterRoomCtrlr")
        input(type="text" required)
        div(class="btn-div")
          button(class="btn btn-primary" ng-click="enterRoom()") Enter room
      div(class="btn-div", ng-controller="newRoomCtrlr")
        button(class="btn btn-primary" ng-click="newRoom()") Create new room
      
